:root{
    --bg-color-btn-start:#E52521;
    --text-color-title:#FED201;
    --title-color: #ffffff;
    --border-letter:#000000;
    --border-btn:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SuperMario256;
}
html, body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
html, body, .container{
    width: 100%;
    height: 100%;
    background-image: url("imagen/fondo-pantalla1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -400px;
}
@font-face {
    font-family: 'SuperMario256';
    src: url(fuente/SuperMario256.ttf) format('truetype');
    font-size: normal;
    font-weight: normal;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}
.title-p1{
    width: 80%;
    text-align: center;
    color: var(--text-color-title);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-title{
    font-size: 200%;
    -webkit-text-stroke: 5px var(--border-letter);
} 

.btn-start{
    width: 80%;
}

.btn-start, .btn-start-double {
    background: var(--bg-color-btn-start);
    border: 4px solid var(--border-btn);
    padding: 8px 8px;
    border-radius: 50px 50px;
    text-align: center;
}
.btn-start-double a{
    font-size: 100%;
}

.btn-start:hover{
    box-shadow: 5px 5px 5px rgb(0, 255, 4);
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: var(--title-color);
}

@media only screen and (min-width:600px) and (min-height: 300px){
    html, body, .container{
        width: 100%;
        height: 100%;
        background-position-x: 0px;
    }
    .title-p1{
        width: 80%;
        font-size: 100%;
    }
    .btn-start{
        width: 20%;
        font-size: 100%;
    }
    .btn-start, .btn-start-double {
        padding: 5px 5px;
    }
}
@media only screen and (min-width:744px) and (min-height: 1133px){
    html, body, .container{
        background-position-x: -600px;
    }
    .title-p1{
        font-size: 400%;
    }
    .btn-start{
        width: 40%;
        font-size: 150%;
    }
    .btn-start, .btn-start-double {
        padding: 10px 10px;
    }
}

@media only screen and (min-width:1358px) and (min-height: 814px){
    html, body, .container{
        background-position-x: 0px;
    }
    .container{
        justify-content: space-between;
    }
    .title-p1{
        font-size: 500%;
    }
    .btn-start{
        width: 20%;
        font-size: 250%;
        margin-bottom: 20px;
    }
    .btn-start, .btn-start-double {
        padding: 10px 10px;
    }
}

@media only screen and (min-width:1358px) and (min-height: 814px){
    html, body, .container{
        background-position-x: 0px;
    }
    .container{
        justify-content: space-between;
    }
    .title-p1{
        font-size: 500%;
    }
    .btn-start{
        width: 20%;
        font-size: 250%;
        margin-bottom: 20px;
    }
    .btn-start, .btn-start-double {
        padding: 10px 10px;
    }
}

